<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="C:\Users\Usuario\Desktop\maquetado2\public\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0db9f29763.js" crossorigin="anonymous"></script>

    <link href="css/style.css" rel="stylesheet">
    <title>Mercado Libre</title>
</head>
<header>
    <div id="encabezadoUnido">
        <section class="encabezado">
            <img src="/images/logo-mercado-liebre.svg " id="logo" alt="Logo-Mercado-Libre ">
            <input type="text " placeholder="Buscar productos, marcas "></input>
            <i class="fas fa-search " id="lupa "></i>
        </section>
        <p class="fraseHeader"><i class="fas fa-hand-holding-usd" id="iconomano"></i> Compra en cuotas y tarjeta de créditos</p>
    </div>
    <div class="nav">
        <nav>
            <ul>
                <li type="none ">
                    <a href="# ">Ofertas</a>
                </li>
                <li type="none ">
                    <a href="# ">Tiendas oficiales</a>
                </li>
                <li type="none ">
                    <a href="# ">Vender</a>
                </li>
                <li type="none ">
                    <a href="# ">Ayuda</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li type="none ">
                    <a href="register.html">Crea tu cuenta</a><i class=" far fa-id-card " id="creaTuCuenta "></i>
                </li>
                <li type="none ">
                    <a href="# ">Ingresa</a><i class="fas fa-sign-in-alt " id="ingresa "></i>
                </li>
                <li type="none ">
                    <a href="# ">Mis compras</a><i class="fas fa-shopping-basket " id="misCompras "></i>
                </li>
            </ul>
        </nav>
    </div>
    <div id="barraMenu ">
        <i class="fas fa-bars " id="barra "></i>
    </div>
</header>
<img src=" /images/img-home-banner.jpg " alt=" banner " id="banner ">

<body>
    <main>
        <div>
            <form action="/" method="POST">
                <label for="nomUs" class="labLogin">Nombre de usuario</label><br>
                <input type="text" name="nomUs" id="nomUs" required><br>
                <label for="password" class="labLogin">Contraseña</label><br>
                <input type=" password" name="password" id="pass" required><br>
                <button type="submit" id="loginSubBoton">Enviar</button>
            </form>
            </form>
        </div>
    </main>
</body>
<footer>
    <section>
        <div class="pie">
            <div class="footCredCard">
                <i class="fas fa-credit-card" class="iconosFooter"></i>
                <h5><strong>Pagá con tarjeta o en efectivo.</strong></h5>
                <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago¡Y siempre es seguro!</h6>
            </div>
            <div class="footSend">
                <i class="fas fa-gift" class="iconosFooter"></i>
                <h5><strong>Envío gratis desde $ 2.500</strong></h5>
                <h6>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.Es un beneficio de Mercado Puntos.</h6>
            </div>
            <div class="seguridad">
                <i class="fas fa-user-shield" class="iconosFooter"></i>
                <h5><strong>Seguridad, de principio a fin</strong></h5>
                <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</h6>
            </div>
        </div>
        <h6 class="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h6>
    </section>
</footer>


</html>